@use "sass:color";
@use "mixins" as mixins;

footer {
  position: relative;
  $background-color: #111111;
  background-color: $background-color;

  $color-text: color.adjust(white, $lightness: -50%);
  $color-highlight: color.adjust(white, $lightness: -10%);

  color: $color-text;

  $size: 5em;
  $shade: color.adjust($background-color, $lightness: 2%);

  background-size: $size $size, cover;
  background-repeat: repeat;

  background-image: mixins.crosshatch-gradient($shade),
    linear-gradient(to top, $shade 10%, transparent 100%);

  display: flex;
  font-size: 0.9em;

  &::before {
    content: "";
    position: absolute;
    top: -$size;
    left: 0;
    width: 100%;
    height: $size;
    @include mixins.crosshatch($shade);

    mask-image: linear-gradient(to bottom, transparent 0%, black 100%);
  }

  a {
    color: $color-text;
    text-decoration: none;
    transition: color 0.1s ease-out;
    $gap: 0.25em;
    padding: $gap 2 * $gap;
    margin: $gap 2 * $gap $gap -2 * $gap;
    border-radius: 99px;
    width: fit-content;

    &:hover,
    &:focus-visible {
      color: $color-highlight;
    }
  }
}
