@use "sass:color";
@use "mixins" as mixins;

footer {
  position: relative;
  min-height: 300px;
  $background-color: #111111;
  background-color: $background-color;
  color: color.adjust(white, $lightness: -50%);

  $size: 5em;
  $shade: color.adjust($background-color, $lightness: 1%);

  background-size: $size $size, cover;
  background-repeat: repeat;

  background-image: mixins.crosshatch-gradient($shade),
    linear-gradient(to top, $shade 10%, transparent 100%);

  display: flex;
  align-items: center;
  justify-content: center;

  &::before {
    content: "";
    position: absolute;
    top: -$size;
    left: 0;
    width: 100%;
    height: $size;

    background-size: $size $size;
    background-repeat: repeat;

    background-image: mixins.crosshatch-gradient($shade);

    mask-image: linear-gradient(to bottom, transparent 0%, black 100%);
  }
}
