@use "variables" as vars;

header {
  $size: vars.$menu-desktop-size;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: black;
  height: $size;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

  * {
    color: black;
  }

  nav {
    flex: 1;
    height: 100%;
    max-width: min(1000px, 100vw);
    padding: 0 2em;

    ul {
      background-color: white;
      background-image: linear-gradient(
        to bottom left,
        black 50%,
        transparent 50%
      );
      background-size: $size;
      background-position: 100.1% 0;
      background-repeat: no-repeat;
      height: 100%;
      display: flex;
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        margin: 0;
      }

      a,
      .logo {
        width: $size;
        max-width: $size;
      }

      a {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        display: flex;
        text-decoration: none;
        font-size: 0.8em;
        font-weight: 300;
        transition: background-color 0.1s ease-out, color 0.1s ease-out,
          letter-spacing 0.5s ease-out, font-weight 0.5s ease-out;

        span {
          color: inherit;
        }

        &:hover,
        &:focus-visible,
        &.current {
          background-color: black;
          color: white;
          font-weight: 400;
          letter-spacing: 0.02em;
        }
      }
    }
  }

  @media (max-width: 767px) {
    $size: vars.$menu-mobile-size;

    height: $size;

    nav {
      height: 100%;
      padding: 0;

      ul {
        background-image: none;
        justify-content: space-between;

        li {
          flex: 1;
          padding: 0;

          &:first-of-type {
            max-width: $size;
          }
        }

        .logo {
          width: $size;
          max-width: $size;
        }

        a {
          width: 100%;
          font-size: 0.6em;
          font-weight: 400;

          &:hover,
          &:focus-visible,
          &.current {
            letter-spacing: 0;
          }

          span:first-of-type {
            font-size: 3em;
          }
        }
      }
    }
  }
}
