main {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  // padding-bottom: 8em;

  > section {
    display: flex;
    flex-direction: column;
    align-items: center;
    // outline: 1px dotted magenta;
    width: 100%;
    height: fit-content;

    div.row {
      // outline: 1px dotted cyan;
      display: flex;
      gap: 3em;
      width: 100%;
      max-width: 1000px;
      padding: 2em;
    }

    div.col {
      display: flex;
      flex-direction: column;
      flex: 1;

      @for $i from 2 through 10 {
        &.span-#{$i} {
          flex: #{$i};
        }
      }
    }
  }
}
