@use "sass:math";
@use "sass:map";
@use "sass:color";
@use "mixins" as mixins;
@use "variables" as vars;

a[role="button"] {
  cursor: pointer;
  text-decoration: none;
  outline: none;
  border: 0;
  color: inherit;
  width: fit-content;
  font-family: inherit;
  display: flex;
  align-items: center;

  &.button-read-more {
    $size: 60px;
    @include mixins.slanted-button($size);
    text-transform: uppercase;

    &.outline {
      position: relative;
      $edge: 2.3px;

      box-shadow: inset 0 $edge 0 currentColor,
        inset 0 -1 * $edge 0 currentColor;

      outline: $edge solid currentColor;

      &:before,
      &:after {
        position: absolute;
        content: "";
        display: block;
        height: $size * 2;
        width: $size * 2;
        background-image: linear-gradient(
          to top right,
          currentColor $size * 0.5 * 1.4142 + $edge * 0.95,
          transparent $size * 0.5 * 1.4142 + $edge
        );
      }

      &:before {
        bottom: 0;
        left: 0;
      }

      &:after {
        top: 0;
        right: 0;
        transform: rotate(180deg);
      }
    }
  }
}

$brand-primary-color: (
  "blippar": #f49522,
  "mrmc": #2d64aa,
  "newday-aquacard": #04f4c9,
  "gain-credit-lending-stream": #0feba1,
  "motorway": #ffe14c,
);

$brand-secondary-color: (
  "blippar": #ff4500,
  "mrmc": #1e4372,
  "newday-aquacard": #0408a3,
  "gain-credit-lending-stream": #7a0ce1,
  "motorway": #ffd500,
);

$brand-text-color: (
  "blippar": #000000,
  "mrmc": #ffffff,
  "newday-aquacard": #ccfafb,
  "gain-credit-lending-stream": #f7f9fb,
  "motorway": #242424,
);

$brand-button-color: (
  "blippar": #f49522,
  "mrmc": #2d64aa,
  "newday-aquacard": #04f4c9,
  "gain-credit-lending-stream": #7a0ce1,
  "motorway": #ffe14c,
);

$brand-button-text: (
  "blippar": #000000,
  "mrmc": #ffffff,
  "newday-aquacard": #000000,
  "gain-credit-lending-stream": #ffffff,
  "motorway": #000000,
);

$brands: (
  "blippar",
  "mrmc",
  "newday-aquacard",
  "gain-credit-lending-stream",
  "motorway"
);

@mixin crosshatch-theme($brand) {
  $color-text: map.get($brand-text-color, $brand);

  .crosshatch {
    $size: vars.$crosshatch-size;
    height: $size;
    width: 100%;

    > div {
      width: 100%;
      height: calc($size + 2px);
      margin-top: -1px;
      margin-bottom: -1px;
    }

    &.theme-#{$brand} {
      @include mixins.crosshatch($color-text, $size);
    }
  }
}

@mixin page-theme($brand) {
  $color-light: map.get($brand-primary-color, $brand);
  $color-dark: map.get($brand-secondary-color, $brand);
  $color-text: map.get($brand-text-color, $brand);

  .theme-#{$brand} {
    background-image: linear-gradient(160deg, $color-light, $color-dark);
    background-attachment: fixed;
    background-size: 100vw 100vh;
    color: $color-text;

    .gradient-text {
      background-image: linear-gradient(160deg, $color-light, $color-dark);
      color: transparent;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-attachment: fixed;
      background-size: 100vw 100vh;
    }

    .background-solid {
      background-color: $color-text;
    }
  }
}

@mixin section-career($brand) {
  $color-light: map.get($brand-primary-color, $brand);
  $color-dark: map.get($brand-secondary-color, $brand);
  $color-text: map.get($brand-text-color, $brand);

  .section-career {
    position: relative;

    &.#{$brand} {
      color: $color-text;
      @include mixins.fixed-background($color-light, $color-dark);

      &::before {
        @include mixins.crosshatch-transparent-gradient(
          $color-light,
          $color-dark,
          vars.$crosshatch-size
        );
      }

      &-jobs {
        background-position: center;
        background-size: cover;
        background-image: linear-gradient(
            to top,
            rgba(0, 0, 0, 0.3) 0%,
            rgba(0, 0, 0, 0.7) 90%,
            rgba(0, 0, 0, 0.8) 100%
          ),
          url("/social/#{$brand}.jpg");

        a {
          color: $color-text;
        }
      }
    }
  }
}

@mixin award-button($brand) {
  $color-background: map.get($brand-button-color, $brand);
  $color-text: map.get($brand-button-text, $brand);

  .button-award {
    &.#{$brand} {
      background-color: $color-background;
      color: $color-text;
    }
  }
}

@each $brand in $brands {
  @include page-theme($brand);
  @include crosshatch-theme($brand);
  @include section-career($brand);
  @include award-button($brand);
}
