@use "mixins" as mixins;

section {
  &.awards {
    background-position: center;
    background-size: cover;
    background-image: url("/social/awards.jpg");

    .crosshatch {
      @include mixins.crosshatch(black);
    }
  }

  &.career {
    background-position: center;
    background-size: cover;
    background-image: url("/social/career.jpg");
  }

  &.projects {
    background-position: center;
    background-size: cover;
    background-image: url("/social/projects.jpg");

    .crosshatch {
      @include mixins.crosshatch(black);
    }
  }

  &.contact {
    background-position: center;
    background-size: cover;
    background-image: url("/social/contact.jpg");

    .crosshatch {
      @include mixins.crosshatch(black);
    }
  }

  & h1.hero.shade {
    text-shadow: rgba(0, 0, 0, 0.7) 0 0 0.2em;
  }
}
