@use "sass:math";

@mixin padding-classes {
  @for $i from 0 through 12 {
    .pt-#{$i} {
      padding-top: #{$i}em !important;
    }
    .pb-#{$i} {
      padding-bottom: #{$i}em !important;
    }
    .py-#{$i} {
      padding-top: #{$i}em !important;
      padding-bottom: #{$i}em !important;
    }
    .pl-#{$i} {
      padding-left: #{$i}em !important;
    }
    .pr-#{$i} {
      padding-right: #{$i}em !important;
    }
    .px-#{$i} {
      padding-left: #{$i}em !important;
      padding-right: #{$i}em !important;
    }
  }
}

@mixin margin-classes {
  @for $i from 0 through 12 {
    .mt-#{$i} {
      margin-top: #{$i}em !important;
    }
    .mb-#{$i} {
      margin-bottom: #{$i}em !important;
    }
    .my-#{$i} {
      margin-top: #{$i}em !important;
      margin-bottom: #{$i}em !important;
    }
    .ml-#{$i} {
      margin-left: #{$i}em !important;
    }
    .mr-#{$i} {
      margin-right: #{$i}em !important;
    }
    .mx-#{$i} {
      margin-left: #{$i}em !important;
      margin-right: #{$i}em !important;
    }
  }
}

@include margin-classes;
@include padding-classes;
