@use "sass:math";
@use "sass:color";

@use "mixins";
@use "spacing";
@use "typography";
@use "page-themes";
@use "header";
@use "material-icons";
@use "footer";
@use "faces";

html,
body {
  background-color: black;
  color: white;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 8em;

  > section {
    display: flex;
    flex-direction: column;
    align-items: center;
    // outline: 1px dotted magenta;
    width: 100%;
    height: fit-content;

    div.row {
      // outline: 1px dotted cyan;
      display: flex;
      gap: 3em;
      width: 100%;
      max-width: 1000px;
      padding: 2em;
    }

    div.col {
      display: flex;
      flex-direction: column;
      flex: 1;

      @for $i from 2 through 10 {
        &.span-#{$i} {
          flex: #{$i};
        }
      }
    }
  }
}

details {
  position: relative;
  flex: 1;
  margin: -1em;
  padding: 0;

  $background: white;

  // color.adjust(
  //   $color: white,
  //   $alpha: -0.8,
  // );

  summary::-webkit-details-marker {
    display: none;
  }

  summary::marker {
    display: none;
  }

  summary {
    position: relative;
    cursor: pointer;
    transition: all 0.1s ease-out;
    background-color: $background;
    list-style: none;
    padding: 1em;
    overflow: hidden;
    // clip-path: polygon(
    //   0 0,
    //   100% 0,
    //   100% 100%,
    //   calc(100% - 2em) 100%,
    //   calc(100% - 2em) calc(100% - 1em),
    //   calc(100% - 1em) calc(100% - 2em),
    //   calc(100% - 3em) calc(100% - 2em),
    //   calc(100% - 2em) calc(100% - 1em),
    //   calc(100% - 2em) 100%,
    //   0 100%
    // );
  }

  &.testimonial {
    summary {
      padding-left: 11em;
      &:after {
        opacity: 0.2;
        position: absolute;
        content: '"';
        top: -0.11em;
        left: 0.018em;
        font-size: 23em;
        line-height: 1em;
      }
    }
  }

  &.award {
    summary {
      display: flex;
      gap: 1em;

      .award-logo {
        width: 100%;
        max-width: 120px;
        margin: -0.8em 0;
      }

      .text {
        display: flex;
        flex-direction: column;
      }
    }
  }

  &:hover,
  &:focus-visible {
    summary {
      opacity: 0.8;
    }
  }

  &:open {
    summary {
      clip-path: polygon(
        0 0,
        100% 0,
        100% 100%,
        calc(100% - 1em) 100%,
        calc(100% - 2em) calc(100% - 1em),
        calc(100% - 3em) 100%,
        0 100%
      );
    }
  }
}

.tech-stack {
  .material-icons {
    margin-right: 0.33em;
  }
}
